# idea
.idea
.vscode

# app binaries
/disbursement-gateway   

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# app specific vendor
vendor

# log
*.log

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# sonar
.scannerwork

# misc
.DS_Store

# Go workspace file
go.work